@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@1,200&display=swap');

body,html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Georama', sans-serif;
    box-sizing: border-box;
}
#section-1{
    height: 100vh;
    /* overflow: hidden; */
}

#section-1 .background{
    background-image: url(/portfolio/images/bg.jpg);
    height: 100vh;
    background-position: center;
     background-size:cover;
     filter: blur(3px);
     transform: rotate(180deg);
}

nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
  background-color: #aaaaaa1f;
  padding-top: 10px;
  box-sizing: border-box;
  position:fixed;
  top: 0px;
  width: 100vw;
z-index: 1;}
#logo img{
    height: 150px;
    position: relative;
    top: -50px;
}
#menu{
    margin-right: 50px;
    
}
#menu li{
    display: inline-block;
    padding: 0 15px;
}
#menu li a{

    text-decoration: none;
    padding:1px 10px;
    color: #fc0202;
    font-weight: 600;
    letter-spacing: 2px;
}
#menu li a:hover{
    background-color: #ca3232;
    border-radius: 10px;
    color: white;
    transition-property: background-color;
    transition-duration: 0.8s;
}
#name{
    color: whitesmoke;
    position: absolute;
    top: 300px;
    margin-left: 100px;
    font-weight: 600;
}
#name span{
    font-size: 20px;
    color: rgb(32, 32, 31);
}
#name h1{
    /* margin: 10px -10px; */
    position: relative;
    top: -44px;
    right: 20px;
    font-size: 70px;
    font-weight: 400;
    color: #ff0202;
    
}
#socialicons{
    display: flex;
    position: absolute;
    top: 445px;
    left: 70px;
}
.icons{
   font-size: 25px;
   padding: 0 20px;
    
}
#section-2{
    height: 60vh;
    position: relative;
    box-sizing:border-box;
}
#section-2 h1{
    text-align: center;
    margin-top: 30px;
}
.profile{
    height: 200px;
    width: 200px;
    /* background-color: burlywood; */
    border: 5px solid red;
    position: relative;
    top: 90px;
    left: 100px;
}
.profile img{
    height: 210px;
    width: 210px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.about{
    position: absolute;
    top: 100px;
    left: 450px;
}
#section-3{
    height: 70vh;
    background-color: #7ec0c5a1;
    display: flex;
    justify-content: space-around;
    align-items: center;
   font-weight: bolder;
   position: relative;
}
#section-3 h2{
  position: absolute;
  top: 20px;
}
#section-3 .container{
    height: 250px;
    width: 250px;
    /* border: 2px solid black; */
    background-color: #ffffffba;
    border-radius: 10%;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    transition:all;
    transition-duration: 0.5s;
    transition-timing-function:ease-in-out;
}
.container div img{
    height: 130px;
    width: 100%;

}
.container span{
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
}
.container:hover{
    box-shadow: 1px 1px 10px #aaa;
    transform: scale(1.1);
}
#section-4{
    height: 60vh;
    width: 100%;
    display: flex;
position: relative;
background-color: #000000d6;
color: white;
/* margin-top: 10px; */
}
#skill-container{
    position: absolute;
    top: 80px;
    left: 35%;
}
.skill{
    margin: 25px;
}
.skill-bar{
    /* border: 1px solid black; */
    height: 5px;
    width: 350px;
    border-radius:10px;
    background-color: #dfd6d654;
    /* position: relative; */

}
.skill-status{   
    height: 5px;
    border-radius:10px;
    background-color: blue;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:2;
}

.c{
    width: 90%;
    animation-name: c;
}

@keyframes c {
    from{
    width: 0%;
}

    to{
        width: 90%;
    }
    
}
.cplus{
    width: 60%;
    animation-name: cplus;
}
@keyframes cplus {
    from{
    width: 0%;
}

    to{
        width: 60%;
    }
    
}
.html{
    width: 85%;
    animation-name: html;
}
@keyframes html {
    from{
    width: 0%;
}

    to{
        width: 85%;
    }
    
}
.css{
    width: 80%;
    animation-name: css;
}
@keyframes css {
    from{
    width: 0%;
}

    to{
        width: 80%;
    }
    
}
.bar{
    position: relative;
    width: 400px;
}
.bar span{
    position: absolute;
    top:-5px;
    right: 5px;
}
#section-4 h1{
position: absolute;
left: 45%;
top: 20px;
}

#section-5{
height: 80vh;
background: url(/portfolio/images/contact\ bg.jpg);
background-position: center;
background-size: cover;
position: relative;
color: white;
}
#section-5 h1{
    color: white;
    margin: 0%;
    position: absolute;
    top: 20px;
    left: 45%;
}
#contact{
    position: absolute;
    top: 20%;
   left: 10%;
}
#contact div{
    line-height: 3rem;
}
#contact span{
    margin: 20px;
}
#contact i{
    font-size: 1.3rem;
}

#form{
    position: absolute;
    right: 5%;
    top: 20%;
    /* box-sizing: border-box; */
    width: 45%;
}
#form h2{
    font-size: 3rem;
    margin: 0%;
}
#form form{
display:flex;
flex-direction: column;
}
#form input {
    margin: 10px;
    border-radius: 10px;
    height: 1.8rem;
    width: 65%;
    border: none;
    outline: none;
}
#form textarea{
    margin: 10px;
    border-radius: 10px;
    /* height: 1.8rem; */
    width: 65%;
    border: none;
    outline: none;
}
#form input:hover{
    box-shadow:1px 1px 10px #aaa;
    transform: scale(1.05);
    transition: all;
    transition-duration:0.5s;
}
button{
width: 100px;
margin: 10px;
height: 30px;
border-radius: 10px ;
background-color: yellow;
font-weight: 600;
font-size: 15px;
cursor: pointer;
position: relative;
left: 25%;
/* outline: none; */
border: none;
}
button:hover{
    background-color: black;
    color: white;
    transition-property: background-color;
    transition-duration: 0.8s;
}
#toggle-btn{
    position: absolute;
    top: 25px;
    right: 40px;
    display: none;
    cursor: pointer;
}



@media (max-width:700px){
    #toggle-btn{
        display: block;
    }
    #menu{
        display: none;
        position: absolute;
        top: 50px;
        width: 100%;
        /* height: 100vh; */
        background-color: cadetblue;
    }
   #menu li{
        display:block;
        margin: auto;
        text-align: center;
     padding: 10px;   
    }
    #name{
        
        margin-left: 60px;
    }
    #name h1{
        top: -44px;
        right: 10px;
        font-size: 50px;
    }
    #socialicons{
        top: 405px;
        left: 40px;
    }
    #section-4{
        width: 100%;
    }
    #skill-container{
        left: 0px;
        width: 50%;
    
    }
    #section-4 h1 {
       
        left: 32%;
       
    }
    .bar {
       
        width: 319px;
    }
    .skill-bar{
        width: 265px;
    }
    #section-2{
        height: 80vh;
    }
    .about{
        top: 325px;
    left: 30px;
    width: 70%;
    }
    .about h4{
        position: relative;
    left: 80px;
    font-size: 25px;
    }
    .profile{
        top: 60px;
    left: 75px;
    }
    #section-3{
        height: 130vh;
        justify-content:center;
        flex-direction: column;
    }
     #section-3 .container{
        margin-top: 40px;
    }
}
